{% if include.repository.repo %}
  {% assign repo_full = include.repository.repo %}
  {% assign repo_name = include.repository.name %}
  {% assign repo_description = include.repository.description %}
  {% assign repo_tags = include.repository.tags %}
{% else %}
  {% assign repo_full = include.repository %}
{% endif %}

{% assign repo_url = repo_full | split: '/' %}
{% assign repo_owner = repo_url[0] %}
{% assign repo_slug = repo_url[1] %}
{% unless repo_name %}
  {% assign repo_name = repo_slug %}
{% endunless %}
{% unless repo_description %}
  {% assign repo_description = repo_full %}
{% endunless %}

<div class="repo-card">
  <a class="repo-card-link" href="https://github.com/{{ repo_full }}" target="_blank" rel="noopener noreferrer">
    <div class="repo-card-header">
      <div>
        <p class="repo-owner">{{ repo_owner }}</p>
        <h3>{{ repo_name }}</h3>
      </div>
      <span class="repo-icon" aria-hidden="true"><i class="fa-brands fa-github"></i></span>
    </div>
    <p class="repo-description">{{ repo_description }}</p>
    {% if repo_tags %}
      <div class="repo-tags" aria-label="Repository topics">
        {% for tag in repo_tags %}
          <span>{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
    <div class="repo-card-footer">
      <span>{{ repo_full }}</span>
      <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i>
    </div>
  </a>
</div>
